<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <!--/* Title of this template will be passed to the head fragment */-->
  <head th:replace="~{layouts/default :: head(~{this :: title})}">
    <title>Guest List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body class="d-flex flex-column h-100">
    <!--/* The element with breadcrumb class will be passed to the header fragment */-->
    <header th:insert="~{layouts/default :: header(~{ :: .breadcrumb})}">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/hotel">Hotel</a></li>
        <li class="breadcrumb-item active">Guests</li>
      </ol>
    </header>

    <!--/* Insert content fragment with content of the element with id = 'content' */-->
    <main
      class="flex-shrink-0"
      role="main"
      th:insert="~{layouts/default :: content(~{ :: #content})}"
    >
      <div class="container" id="content">
        <div id="list">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Name</td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${guests.empty}">
                <td colspan="2">No Guests Avaiable</td>
              </tr>
              <tr th:each="guest : ${guests}">
                <td th:text="${guest.id}">1</td>
                <td th:text="${guest.name}">Name</td>
              </tr>
            </tbody>
          </table>
          <div class="error" th:if="${message != null}">
            <span class="error" th:text="${message}">Error</span>
          </div>
          <a href="/hotel/guest/add" class="btn btn-sm btn-success"
            >Add New guest</a
          >
        </div>
      </div>
    </main>
    <footer
      class="footer mt-auto py-3 bg-light"
      th:insert="~{layouts/default :: footer}"
    >
      <div class="container text-center" id="footer">
        <span class="text-muted">2023 Default Footer</span>
      </div>
    </footer>
  </body>
</html>
